/*Change the color and font of the entire page*/
body {
		background-color: #FFA62F; /*change background and text color for the body*/
		color: #A25D00;
		font-family: "Times New Roman", Times, serif;
	}
/*constructing the plots dropdown button*/
.dropbtn {
  background-color: #FF9200;
  color: white; 
  padding: 13.5px; 
  font-size: 16px;
  border: none;
  width: 160px;
  position:fixed;
  top: 0;
  right: 320px;
}

/*constructing the plots dropdown button*/
.dropdown {
  position: relative;
  display: inline-block;
}

/*constructing the plots dropdown button*/
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position:fixed;
  right: 320px;
  top: 51px;
}

/*comparison button*/
.comparison{
  background-color: #FF9200;
  color: white; 
  padding: 13.5px;
  font-size: 16px;
  border: none;
  width:160px;
  position:fixed;
  right: 160px;
  top: 0;
  cursor:pointer 
}
/*data button*/
.data{
  background-color: #FF9200;
  color: white; 
  padding: 13.5px;
  font-size: 16px;
  border: none;
  width:160px;
  position:fixed;
  right: 0;
  top: 0;
  cursor:pointer
}
/*home button*/
.home{
  background-color: #FF9200;
  color: white; 
  padding: 13.5px;
  font-size: 16px; 
  border: none;
  width:160px;
  position:fixed;
  left: 0;
  top:0;
  cursor:pointer	
}
/*bar to make the navbar look nice*/
.bar{
  background-color: #FF9200;
  height:51px;
  width:100%;
  border: none;
  position:fixed;
  cursor:default;
  top: 0;
}
/*make this work with bootstrap*/
#bootstrap-override-bar {
	cursor:default;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*and the other buttons when they're hovered over*/
.dropdown:hover .dropbtn {background-color: #D27800;} 

/*Change the color of the rest of the buttons on hover*/
.comparison:hover
{background-color: #D27800;}
.data:hover 
{background-color: #D27800;}
.home:hover 
{background-color: #D27800;}

@media (max-width: 768px) {
	/*adjust all the buttons when the screen is small*/
	.bar{
		display: none;
	}
	.home{
		top:0;
		width:100%;
		border: 2px solid #A25D00;
		padding:11px;
	}
	.data{
		top:48px;
		width:100%;
		border: 2px solid #A25D00;
		padding:11px;
	}
	.comparison{
		top:96px;
		width:100%;
		right:0;
		border: 2px solid #A25D00;
		padding:11px;
	}
	.dropbtn{
		top:144px;
		width:100%;
		right:0;
		border: 2px solid #A25D00;
		padding:11px;
	}
	.dropdown-content {
	display: none;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	position:fixed;
	width:100%;
	left:0px;
	top:190px;
	}
	/*resize images when the screen is smaller*/
	img.resizeImage {
		width: 500px;
		height:auto;
	}
	/*center text when it takes up an entire row for the smaller screens*/
	.centertext{
		text-align:center;
	}
}

